{% extends 'base.html' %}



{% block content %}
    <!--Affichage de photo_uplsoad et blog_view-->



    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                {% csrf_token %}
                <div class="card-body row no-gutters align-item-center">
                    <div class="col">
                        <input type="search" name="item-name" placeholder="Entrez le nom du produit à rechercher" class="form-control form-control-bordeless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary ">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Faites Vos Achats</h2>
        {% for photo in photos %}
            <div class="col-md-3">
                <div class="card shadow badge-success">
                    
                    {% if photo.image %}
                        <img src="{{photo.image.url}}" width="80%" class="img-top" alt="une image">
                    {% else %}
                        <h3>No image</h3>
                    {% endif %}
                    <div class="card-body">
                        <div id="{{photo.id}}" class="card-tittle" style="color: green;">{{photo.id}}</div>
                        <div id="aa{{photo.id}}" class="card-tittle" style="color: green;">{{photo.caption}}</div>
                        <div id="price{{photo.id}}" style="color: green;" class="card-text"> {{photo.price}}</div>
                        <div class="bou">
                            <a href="{% url 'detailler' photo.id%}" class="btn btn-primary">Voire</a>
                            <button id="{{photo.id}}" class="btn ted btn-danger">Acheter</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

        <div class="row mt-3">
            <div class="col md-3 offset-md-4">
                <ul class="pagination">
                    
                    {% if photos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{photos.previous_page_number}}">Précedent</a>
                        </li>
                    {% endif %}
    
                        <li class="page-item active">
                            <a class="page-link" href="?page={{photos.number}}">{{photos.number}}</a>
                        </li>
                    
                    {% if photos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{photos.next_page_number}}">Suivant</a>
                    </li>
                    {% endif %}
                        
                </ul>
            </div>
        </div>
{% endblock content %}
    

{{% block js %}
<script type="text/javascript">
    console.log('juste pour tester');
    if(localStorage.getItem('panier') == null){
        var panier={};
    }else{
        panier = JSON.parse(localStorage.getItem('panier'));
    }
    $(document).on('click', '.ted', function(){
        console.log('ajouter');
        var item_id = this.id.toString();
        console.log(item_id);
        if(panier[item_id] != undefined){
            quantité = panier[item_id][0] +1;
            panier[item_id][0] = quantité;
            panier[item_id][2] += parseFloat(document.getElementById("price" + item_id).innerHTML);                /* panier[item_id] = panier[item_id] + 1; */
        }else{
            quantité = 1;
            prix = parseFloat(document.getElementById("price" + item_id).innerHTML);
            nom = document.getElementById("aa" + item_id).innerHTML;
            panier[item_id] = [quantité, nom, prix];
            /* panier[item_id] = 1; */
        }
        console.log(panier);
        localStorage.setItem('panier', JSON.stringify(panier));
        document.getElementById('panier').innerHTML = "Panier(" + Object.keys(panier).length + ")";
    });
    AfficherList(panier);
    function AfficherList(panier){
        var index = 1;
        var panierString = " ";
        panierString += '<h5>Voici votre liste</h5>';
        for(var x in panier){
            panierString += index;
            panierString += document.getElementById("aa" + x).innerHTML + " Quantité : " + panier[x][0] + "</br>";
            index +=1;
        }
        panierString += '<a href="/checkout" class="btn btn-success">Afficher</a>'
        $('[data-toggle="popover"]').popover();
        document.getElementById('panier').setAttribute('data-content', panierString);
    }
</script>
{% endblock %}
