{% extends 'base.html' %}


{% block content %}
        <div class="row mt-5 py-5">
            <div class="col-md-12">
              <ul class="list-group" id="list-item">
                <h3 class="text-center text-white badge-info">Voici votre liste</h3>
              </ul>
            </div>
        </div> 
        

        <div class="row">
          <div class="col-md-12">
            <ul class="list-group" id="list-item">
              <h3 class="text-center text-white badge-info">Entrez Vos Coordonées Puis Cliquez sur <strong style="background-color: green;" >Commander</strong> !</h3>
            </ul>
          </div>
      </div> 
        <div class="row py-5">
          <div class="col-md-12">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" id="items" name="items">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Nom</label>
                  <input type="text" id="nom" name="nom" class="form-control" id="inputEmail4" placeholder="Votre nom">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Prenom</label>
                  <input type="text" id="prenom" name="prenom" class="form-control" id="inputEmail4" placeholder="Votre prenom">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Email</label>
                  <input type="email" id="email" name="email" class="form-control" id="inputPassword4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Téléphone</label>
                  <input type="number" id="phone" name="phone" class="form-control" id="inputPassword4" placeholder="phone">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress">Address</label>
                  <input type="text" id="address" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">Ville</label>
                  <input type="text" id="ville" name="ville" class="form-control" id="inputCity" placeholder="Entrez votre ville">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">Pays</label>
                  <select id="pays" name="pays" class="form-control">
                    <option selected>Guinée</option>
                    <option>Egypte</option>
                    <option>Sénégal</option>
                    <option>Côte d'Ivoire</option>
                    <option>Tunisie</option>
                    <option>Maroc</option>
                    <option>Libye</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">code postal</label>
                  <input type="text" id="zipcode" name="zipcode" class="form-control">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Somme total à payer</label>
                  <input type="text" id="total" name="total" class=" bg-dark text-warning form-control">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Commander</button>
              </div>
            </form>
          </div>
        </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    if(localStorage.getItem('panier') == null){
      var panier = {};
    }else{
      panier = JSON.parse(localStorage.getItem('panier'));
    }
    var total = 0;
    var nombre = 0;
    for(item in panier){
      let nom = panier[item][1];
      let quantité = panier[item][0];
      let prix = panier[item][2];
      nombre += quantité;
      total += prix;
      let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
        <span class=" badge badge-success">Produit: ${nom} </span>
        <span class="badge badge-primary badge-pill">Quantité: ${quantité}</span>
        <span class="badge badge-warning badge-pill">GNF ${prix}</span>
        </li>`;
        $('#list-item').append(itemString);
    }

    let nombreString = `<li class="list-group-item d-flex justify-content-between align-items-center">
        <b class="bg-warning"> QUANTITE ET PRIX TOTAL </b>
        <span class="badge badge-danger badge-pill">Quantité: ${nombre}</span>
        <span class="badge badge-danger badge-pill">GNF ${total}</span>
        </li>`;
        $('#list-item').append(nombreString);

    $('#items').val(JSON.stringify(panier));
    $('#total').val("GNF "+total);
  </script>
{% endblock %}